body {
    font-size: 1.3rem;
    line-height: 1.5;
}

.navbar {
  padding-top: 0.5rem !important;
  font-size: 1.2rem;
  background-color: #428bca !important;
  margin-bottom: 1rem;
}

.navbar-dark .navbar-nav .nav-link {
  color: white !important;
}
